name: Build

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.2

    - uses: actions/setup-node@v6.2.0
      with:
        node-version: 18.x

    - name: Build
      run: |
        npm ci
        npm run build